<html>
    <body>
        <form action="/create" method="POST" enctype="multipart/form-data">
            	Restaurant ID: <input name="restaurant_id" >><br>
		Restaurant Name: <input name="name" >><br>
		Borough: <input name="borough" > <br>
		<br>Cuisine: <input name="cuisine" > <br><br>
            	<br>Photo<input type="file" name="filetoupload"><br>
		<br>Photomimetype:<input name="photomimetype" > 
		<br><br><br><dt>Address </dt>
		<br>Street: <input name="street" > <br>
		<br>Building: <input name="building" > <br>
		<br>Zipcode: <input name="zipcode" > <br>
		<br>Coord Lon: <input name="lon" > <br>
		<br>Coord Lat: <input name="lat" > <br>
		<br><br><dt>grades</dt>
		<br>user: <input name="user" > <br>
		<br>score: <input name="score" > <br>
		<br>Owner:  <input name="owner" > <br>
            
            <input type="submit" value="create">  
        </form>
    </body>
</html>
